@import "../../../../styles/vars";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");

.main {
  font-family: "Poppins", sans-serif;
  //   background-color: var(--color-grey-light);

  @media screen and (min-width: $break_xl) {
    padding-left: calc(50% - calc($break_xl / 2));
    padding-right: calc(50% - calc($break_xl / 2));
  }

  &:after,
  &:before {
    content: "";
    z-index: -1;
    position: fixed;
    background-color: var(--color-grey-l1);
  }

  &:before {
    left: 0;
    bottom: 0;
    width: 26%;
    height: 65%;
  }
  &:after {
    right: 0;
    top: 0;
    width: 28%;
    height: 68%;
  }
}

.header {
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 20px;
}

.movies_container {
  display: flex;
  flex-flow: row wrap;

  

  p {
    font-size: 12px;
    color: var(--color-grey-l5);
     display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
  }

  .movie_item {
    display: flex;
    flex-flow: column wrap;
    min-width: 360px;
    flex-basis: 33.33%;
    flex-grow: 1;
    padding: 20px;
    margin-bottom: 60px;
    @media screen and (min-width: $break_xl) {
  max-width: 33%;
}

    header::after {
      display: block;
      content: "";
      height: 2px;
      width: 40px;
      background-color: var(--color-grey-dark);
      margin-top: -10px;
    }
    .content {
      flex-grow: 2;
      margin-bottom: 20px;
      margin-right: 66px;
    }
    .cover {
      position: relative;
      margin-top: 20px;
      display: inherit;
      width: calc(100% - 76px);
      align-self: flex-end;
      margin-right: 76px;
      box-shadow: 2px 5px 20px 10px var(--color-grey-l2);

      .vote {
        &:before {
          content: "";
          background-color: var(--color-grey-light);
          box-shadow: 2px 2px 40px 1px var(--color-grey-l2);
          position: absolute;
          width: 88px;
          height: 82px;
          top: -12px;
          left: -18px;
          z-index: -1;
        }
        display: inline;
        position: absolute;
        right: -40px;
        padding: 10px;
        z-index: 2;
        top: -24px;
        font-weight: 900;
        font-size: 40px;
      }
    }

    .loading_img {
      background-color: var(--color-grey-l2);
    }
  }
}
