.container {
  display: flex;
  width: 90vw;
  margin: auto;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panelActive {
  flex: 5;
}

.title {
  opacity: 0;
}
.titleActive {
  opacity: 1;
  transition: opacity 0.2s ease-in 0.4s;
}
