@import "vars";
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
.txt-left {
  text-align: left;
}

.margin-top {
  margin-top: 40px;
}
.margin-bottom {
  margin-bottom: 40px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.container-s {
  max-width: $break_s;
}

.loading {
  background-color: $color-loading;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.4em;
  color: $txt-color-1;
}
h1 {
  font-size: 46px;
}
h6 {
  font-size: 16px;
  color: $txt-color-2;
}

.animate {
  transition: all 0.4s;
  opacity: 1 !important;
}
