$break_s: 905px;
$break_m: 1240px;
$break_l: 1440px;
$break_max: 1660px;

$txt-color-1: rgb(12, 12, 12);
$txt-color-2: rgb(52, 52, 52);

$color-1: #f5f0ef;
$color-2: #b6adad;
$color-3: orangered;
$color-4: rgb(34, 34, 34);

$color-loading: #ebebeb;
