:root {
  --color-l1: #ff0;
  --color-l2: rgb(229, 212, 22);
  --color-l3: #f3f4e9;

  --color-grey-light: #fff;
  --color-grey-l1: #efecec86;
  --color-grey-l2: #d9d8d8;
  --color-grey-l3: #c6c6c6;
  --color-grey-l4: #b2b2b2;
  --color-grey-l5: #6f6f6f;
  --color-grey-dark: #37372e;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

@import "./colors";
@import "./typography.scss";
